<div class="inicio-container">
  <img class="logo" src="../../../assets/Logo.PNG" alt="Logo" />
  <h1>Transforma tu manera de estudiar con nuestra app educativa gratuita</h1>
  <h2>
    Acceso ilimitado a libros escolares actualizados, recursos de estudio y más.
  </h2>
  <div class="cta-container">
    <img
      class="cta-image"
      src="../../../assets/flechas.png"
      alt="Descarga la app"
    />
    <button class="boton" routerLink="/demo">
      <svg
        class="mysvg"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        height="24px"
        width="24px"
      >
        <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          id="SVGRepo_tracerCarrier"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Interface / Download">
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              stroke="#f1f1f1"
              d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12"
              id="Vector"
            ></path>
          </g>
        </g>
      </svg>
      <span class="texto">¡Descarga ya la App!</span>
    </button>
  </div>

  <div class="features">
    <div class="feature">
      <h3>Características</h3>
      <p>Explora todas las funciones que ofrece nuestra app</p>
    </div>
    <div class="feature">
      <h3>Demo</h3>
      <p>Echa un vistazo a lo que ofrece nuesta app y DESCARGALA</p>
    </div>
    <div class="feature">
      <h3>Acerca de Nosotros</h3>
      <p>Conoce más sobre nuestra misión y valores</p>
    </div>
  </div>
</div>
